@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

@import "variables";

@font-face {
    font-family: "cocoGothic-bold";
    src:  url("../font/cocoGothic-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "cocoGothic-light";
    src:  url("../font/cocoGothic-Light.ttf") format("truetype");
}

body{
    position: relative;
    z-index: 0;
    overflow-x: hidden;

    .container{
        @media#{$bigger-lg}{
            min-width: 1300px !important;
        }

        @media#{$medium-md}{
            padding: 0 40px;
        }
    }

    h1{
        font-family: $brand-font;
        font-size: 64px;
        line-height: 85px;
        letter-spacing: 3.9px;
        margin: 0;

        @media#{$bigger}{
            font-size: 75px;
            line-height: 105px;
        }

        @media#{$medium-md}{
            font-size: 55px;
            line-height: 75px;
        }

        @media#{$medium-xs}{
            font-size: 45px;
            line-height: 60px;
            letter-spacing: 3.2px;
        }

        @media#{$smaller}{
            font-size: 50px;
            line-height: 60px;
            letter-spacing: 3.5px;
        }
    }

    h2{
        font-family: $brand-font-light;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.1px;
        margin: 0;

        @media#{$bigger}{
            font-size: 28px;
            line-height: 37px;
        }

        @media#{$medium-md}{
            font-size: 22px;
            line-height: 30px;
        }

        @media#{$medium-xs}{
            font-size: 19px;
            line-height: 25px;
        }

        @media#{$smaller}{
            font-size: 19px;
            line-height: 25px;
        }

        strong{
            font-family: $brand-font;
        }
    }

    h3{
        font-family: $brand-font-light;
        font-size: 35px;
        line-height: 45px;
        letter-spacing: 0.1px;
        margin: 0;

        @media#{$bigger}{
            font-size: 41px;
            line-height: 50px;
        }

        @media#{$medium-xs}{
            font-size: 30px;
            line-height: 40px;
        }

        @media#{$smaller}{
            font-size: 26px;
            line-height: 38px;
        }

        span{
            background-color: $orange;
            display: inline-block;
            padding: 0 3px;
        }
    }

    h4{
        font-family: $general-font;
        letter-spacing: 0.4px;
        margin-top: 10px;
        margin-bottom: 8px;
        font-size: 20px;
        line-height: 28px;

        @media#{$bigger}{
            font-size: 24px;
            line-height: 33px;
            margin-top: 24px;
        }

        @media#{$smaller}{
            font-size: 18px;
            line-height: 25px;
            margin-top: 20px;
        }
    }

    p.paragraph{
        font-family: $general-font;
        letter-spacing: 0.4px;
        font-size: 16px;
        line-height: 20px;

        @media#{$bigger}{
            font-size: 18px;
            line-height: 22px;
        }

        @media#{$medium-md}{
            font-size: 15px;
            line-height: 18px;
        }

        @media#{$medium-xs}{
            font-size: 13px;
            line-height: 16px;
        }

        @media#{$smaller}{
            font-size: 14px;
            line-height: 18px;
        }
    }

    a.navbar-brand{
        color: $white;
        font-family: $brand-font;
        padding: 0;
        letter-spacing: 1.8px;
        font-size: 25px;
        line-height: 45px;

        @media#{$bigger}{
            font-size: 29px;
            line-height: 50px;
        }

        @media#{$smaller}{
            font-size: 22px;
            line-height: 45px;
        }
    }

    a.navbar-brand:hover,
    a.navbar-brand:focus{
        color: $white;
    }

    a.navbar-brand{
        font-family: "cocoGothic-bold";
    }
}

header{
    position: absolute;
    z-index: 1000;
    width: 100%;
}

nav.navbar{
    background-color: transparent;
    padding-top: 20px;

    .container{

        @media#{$bigger-lg}{
            max-width: 1450px !important;
        }

        @media#{$bigger}{
            max-width: 1300px;
            padding: 0;
        }
    }

    ul{
        @media#{$smaller}{
            margin: 0 auto;
        }

        li{
            a{
                color: $white;
                font-family: $general-font;
                font-size: 16px;
                letter-spacing: 1.1px;
                font-weight: 600;
                margin: 0 15px;
                line-height: 45px;
                padding: 0;

                @media#{$bigger}{
                    font-size: 18px;
                    margin: 0 28px;
                    line-height: 50px;
                }

                @media#{$smaller}{
                    font-size: 14px;
                    margin: 0 5px;
                    padding: 0;
                }
            }

            a.nav-link:focus,
            a.nav-link:hover{
                text-decoration: none;
                opacity: 0.75;
                color: $white;
                transition: .5s;
            }

            a.btn-nav{
                margin-right: 0;
                color: $black;
                padding: 0 20px !important;

                @media#{$bigger}{
                    padding: 0 30px !important;
                }
            }

            a.btn-nav:focus,
            a.btn-nav:hover{
                background-color: $orange;
                opacity: 1;
                border: 1px solid $white;
            }
        }
    }

    @media#{$phone-portrait}{
        .navbar-toggler{
            span{
                background-color: $white;
                height: 2px;
                margin: 4px;
                display: block;
            }
        }

        .navbar-toggler:focus{
            outline: none;
        }

        #navbarText{
            background-color: $white;
            padding: 10px 10px 15px;
            text-align: center;

            a{
                color: $black;
                margin: 3px 0;
            }
        }
    }
}


footer{
    height: 300px;
    position: relative;

    @media#{$medium-xs}{
        height: 230px;
    }

    @media#{$smaller}{
        height: 270px;
    }

    .footer-yellow{
        background-image: url(../images/footer/bg-yellow.png);
        background-size: auto 270px;
        background-position: 50% 100%;
        background-repeat: no-repeat;
        height: 300px;
        width: 100%;
        position: absolute;
        z-index: -1;

        @media#{$bigger}{
            background-size: 100% 280px;
            background-position: 0% 35%;
        }

        @media#{$medium-xs}{
            background-size: auto 200px;
            height: 230px;
        }

        @media#{$smaller}{
            background-size: auto 240px;
            height: 280px;
        }
    }

    .footer-orange{
        background-image: url(../images/footer/bg-orange.png);
        background-size: auto 270px;
        background-position: 50% 100%;
        background-repeat: no-repeat;
        height: 300px;
        width: 100%;
        position: absolute;
        z-index: 0;

        @media#{$bigger}{
            background-size: 100% 280px;
            background-position: 100% 100%;
        }

        @media#{$medium-xs}{
            background-size: auto 200px;
            height: 230px;
        }

        @media#{$smaller}{
            background-position: 20% 100%;
            background-size: auto 240px;
            height: 280px;
        }
    }

    .container{
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        @media#{$bigger}{
            min-width: 1300px;
        }

        .navbar-brand{
            font-size: 36px;
            line-height: 50px;
            margin-bottom: 20px;

            @media#{$smaller}{
                font-size: 28px;
                line-height: 40px;
                margin-bottom: 5px;
            }
        }

        ul{
            padding: 0;
            margin: 0 0 15px;

            li{
                list-style: none;
                display: inline-block;

                a{
                    color: $white;
                }
            }

            li.col{
                padding-left: 0;
                padding-right: 0;

                a{
                    padding: 0 5px;
                    font-size: 16px;
                    letter-spacing: 1.1px;

                    @media#{$bigger}{
                        font-size: 18px;
                    }

                    @media#{$medium-xs}{
                        font-size: 14px;
                        letter-spacing: 0.5px;
                        padding: 0 2px;
                    }

                    @media#{$phone-landscape}{
                        font-size: 13px;
                        width: 200px;
                        text-align: center !important;
                        margin: 0 auto;
                    }

                    @media#{$phone-portrait}{
                        font-size: 13px;
                        width: 150px;
                        text-align: center !important;
                        margin: 0 auto;
                    }
                }
            }

            li.col-large{
                min-width: 210px;

                @media#{$medium-xs}{
                    min-width: 146px;
                }

                @media#{$smaller}{
                    min-width: auto;
                }
            }
        }

        a.icons{
            display: inline-block;
            margin-top: 13px;
            vertical-align: middle;

            @media#{$smaller}{
                margin-top: 4px;
            }

            img{
                max-height: 24px;
                margin-left: 15px;

                @media#{$smaller}{
                    max-height: 18px;
                    margin-left: 8px;
                    margin-top: 0;
                }

                @media#{$phone-portrait}{
                    margin: 8px !important;
                }
            }
        }
    }

    .row{
        div{
            @media#{$phone-portrait}{
                max-width: 100%;
                min-width: 310px;
                text-align: center !important;
                margin: 0 auto;

                a{
                    margin: 0 !important;
                }
            }
        }
    }
}

form{
    .input-group{
        input{
            background-color: $bg-input;
            color: $color-input;
            font-family: $general-font;
            border: none;
            border-bottom-left-radius: 30px;
            border-top-left-radius: 30px;
            padding: 0 18px;
            font-size: 13px;
            line-height: 40px;

            @media#{$bigger}{
                font-size: 14px;
                line-height: 47px;
            }

            @media#{$medium}{
                font-size: 12px;
                line-height: 35px;
            }
        }

        input:hover,
        input:focus{
            outline: none;
        }

        .input-group-append{
            margin-left: 2px;

            button{
                font-family: $general-font;
                font-weight: 600;
                background-color: $orange;
                color: $white;
                font-family: $general-font;
                border-bottom-right-radius: 30px;
                border-top-right-radius: 30px;
                border-left: 2px solid $white;
                font-size: 16px;
                line-height: 42px;
                padding: 0 15px;

                @media#{$bigger}{
                    font-size: 20px;
                    line-height: 47px;
                    padding: 0 20px;
                }

                @media#{$medium}{
                    font-size: 14px;
                    line-height: 35px;
                }

                @media#{$medium-xs}{
                    font-size: 14px;
                    line-height: 30px;
                }
            }
        }
    }
}

.show-lg{
    @media#{$medium}{
        display: none;
    }

    @media#{$smaller}{
        display: none;
    }
}

.show-md{
    @media#{$bigger}{
        display: none;
    }

    @media#{$medium-xs}{
        display: none;
    }

    @media#{$smaller}{
        display: none;
    }
}

.show-sm{
    @media#{$bigger}{
        display: none;
    }

    @media#{$medium-lg}{
        display: none;
    }

    @media#{$smaller}{
        display: none;
    }
}

.show-xs{
    @media#{$bigger}{
        display: none;
    }

    @media#{$medium}{
        display: none;
    }
}

.hidden-xs{
    @media#{$smaller}{
        display: none;
    }
}

.button{
    font-family: $general-font;
    font-size: 18px;
    line-height: 40px;
    font-weight: 600;
    padding: 0 40px;
    border-radius: 30px;
    margin-top: 15px;
    display: inline-block;

    @media#{$bigger}{
        font-size: 20px;
        line-height: 47px;
        padding: 0 58px;
        margin-top: 20px;
    }
}

.btn-orange{
    color: $white;
    background-color: $orange;
    border: 2px solid $orange;
}

a.btn-orange:focus,
a.btn-orange:hover{
    color: $orange;
    background-color: $white;
    border: 2px solid $orange;
    transition: .5s;
    text-decoration: none;
}

.btn-white{
    color: $orange;
    background-color: $white;
    border: 2px solid $white;
}

a.btn-white:focus,
a.btn-white:hover{
    color: $white;
    background-color: $orange;
    border: 2px solid $white;
    transition: .5s;
    text-decoration: none;
}

.color-orange{
    color: $orange;
}

.color-black{
    color: $black !important;
}

.color-white{
    color: $white;
}

.color-gray{
    color: $gray-paragraph;
}

.color-orange:hover,
.color-orange:focus{
    color: $yellow;
}

.img-box-shadow{
    box-shadow: 0 2px 14px 0 rgba(94, 94, 94, 0.3);
    border-radius: 10px;
}

.btn-rounded{
    border-radius: 30px;
    border: 1px solid $black;
}

.inverted{
    transform: rotate(180deg);
}

.separator{
    background-image: url(../images/web/separator.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 100% 0;
    min-height: 200px;

    @media#{$bigger}{
        background-size: 100% 250px;
        min-height: 250px;
    }

    @media#{$medium-xs}{
        min-height: 140px;
    }

    @media#{$smaller}{
        min-height: 140px;
    }

    @media#{$phone-portrait}{
        min-height: 100px;
    }
}

.right-side{
    padding-top: 70px;
    margin-bottom: 20px;

    @media#{$bigger}{
        padding-top: 100px;
    }

    @media#{$smaller}{
        img{
            margin-top: 50px !important;
        }
    }

    .content{
        margin-left: auto;
        margin-top: 15px !important;

        @media#{$smaller}{
            margin-left: 0;
            margin-top: 0 !important;
        }
    }
}
