@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

@import "variables";

@font-face {
    font-family: "cocoGothic-bold";
    src:  url("../font/cocoGothic-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "cocoGothic-light";
    src:  url("../font/cocoGothic-Light.ttf") format("truetype");
}

body{
    position: relative;
    z-index: 0;
    overflow-x: hidden;

    h1{
        font-family: $brand-font;
        font-size: 55px;
        line-height: 1.1em;
        letter-spacing: 4px;
        margin: 0;

        @media#{$bigger}{
            font-size: 75px;
            line-height: 105px;
            letter-spacing: 3.9px;
        }
    }
    
    h2{
        font-family: $brand-font-light;
        font-size: 19px;
        line-height: 30px;
        letter-spacing: 0.1px;
        margin: 0;

        @media#{$bigger}{
            font-size: 28px;
            line-height: 37px;
        }

        strong{
            font-family: $brand-font;
        }
    }

    h3{
        font-family: $brand-font-light;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.1px;
        margin: 0;

        @media#{$bigger}{
            font-size: 41px;
            line-height: 50px;
        }

        span{
            background-color: $orange;
            display: inline-block;
            padding: 3px 0;
        }
    }

    h4{
        font-family: $general-font;
        letter-spacing: 0.4px;
        margin-top: 24px;
        margin-bottom: 8px;

        @media#{$bigger}{
            font-size: 24px;
            line-height: 33px;
        }
    }

    p.paragraph{
        font-family: $general-font;
        letter-spacing: 0.4px;

        @media#{$bigger}{
            font-size: 18px;
            line-height: 22px;
        }
    }

    a.navbar-brand{
        color: $white;
        font-family: $brand-font;
        padding: 0;
        letter-spacing: 1.8px;

        @media#{$bigger}{
            font-size: 29px;
            line-height: 50px;
        }
    }

    a.navbar-brand:hover,
    a.navbar-brand:focus{
        color: $white;
    }

    a.navbar-brand{
        font-family: "cocoGothic-bold";
    }
}

header{
    position: absolute;
    z-index: 1000;
    width: 100%;
}

nav.navbar{
    background-color: transparent;
    padding-top: 20px;

    .container{
        @media#{$bigger}{
            max-width: 1300px;
            padding: 0;
        }
    }

    ul{
        @media#{$smaller}{
            margin: 0 auto;
        }

        li{
            a{
                color: $white;
                font-family: $general-font;
                font-size: 16px;
                letter-spacing: 1.1px;
                font-weight: 600;
                margin: 0 10px;
                line-height: 50px;
                padding: 0;

                @media#{$bigger}{
                    font-size: 18px;
                    margin: 0 28px;
                }

                @media#{$smaller}{
                    font-size: 14px;
                    margin: 0 5px;
                    padding: 0;
                }
            }

            a.nav-link:focus,
            a.nav-link:hover{
                text-decoration: none;
                opacity: 0.75;
                color: $white;
                transition: .5s;
            }

            a.btn-nav{
                margin-right: 0;
                color: $black;

                @media#{$bigger}{
                    padding: 0 30px !important;
                }
            }

            a.btn-nav:focus,
            a.btn-nav:hover{
                background-color: $orange;
                opacity: 1;
                border: 1px solid $white;
            }
        }
    }

    @media#{$phone-portrait}{
        .navbar-toggler{
            span{
                background-color: $white;
                height: 2px;
                margin: 4px;
                display: block;
            }
        }

        .navbar-toggler:focus{
            outline: none;
        }
    
        #navbarText{
            background-color: $white;
            padding: 10px 10px 15px;
            text-align: center;
    
            a{
                color: $black;
                margin: 3px 0;
            }
        }
    }  
}


footer{
    height: 300px;
    position: relative;

    .footer-yellow{
        background-image: url(../images/web/footer-yellow.png);
        background-size: 115%;
        background-repeat: no-repeat;
        background-position: 100% 100%;
        height: 300px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }

    .footer-orange{
        background-image: url(../images/web/footer-orange.png);
        background-size: 115%;
        background-repeat: no-repeat;
        background-position: 100% 100%;
        height: 300px;
        width: 100%;
        position: absolute;
        z-index: 0;
    }

    .container{
        position: absolute;
        width: 100%;
        bottom: 0;    
        left: 50%;
        transform: translateX(-50%);

        @media#{$bigger}{
            min-width: 1300px;
        }

        .navbar-brand{
            font-size: 36px;
            line-height: 50px;
            margin-bottom: 20px;
        }

        ul{
            padding: 0;
            margin: 0 0 15px;
    
            li{
                list-style: none;
                display: inline-block;
    
                a{
                    color: $white;
                }
            }

            li.col{
                padding-left: 0;
                padding-right: 0;

                a{
                    padding: 0 5px;
                    font-size: 18px;
                    letter-spacing: 1.1px;
                }
            }

            li.col-large{
                min-width: 210px;
            }
        }
    
        a.icons{
            display: inline-block;
            margin-top: 13px;
            vertical-align: middle;

            img{
                max-height: 24px;
                margin-left: 15px;
            }
        }
    }
}

form{
    .input-group{
        input{
            background-color: $bg-input;
            color: $color-input;
            font-family: $general-font;
            border: none;
            border-bottom-left-radius: 30px;
            border-top-left-radius: 30px;
            padding: 0 18px;
            
            @media#{$bigger}{
                font-size: 14px;
                line-height: 47px;
            }
        }

        input:hover,
        input:focus{
            outline: none;
        }

        .input-group-append{
            margin-left: 2px;

            button{
                font-family: $general-font;
                font-weight: 600;
                background-color: $orange;
                color: $white;
                font-family: $general-font;
                border-bottom-right-radius: 30px;
                border-top-right-radius: 30px;
                border-left: 2px solid $white;

                @media#{$bigger}{
                    font-size: 20px;
                    line-height: 47px;
                    padding: 0 20px;
                }
            }
        }
    }
}

.show-lg{
    @media#{$medium}{
        display: none;
    }

    @media#{$smaller}{
        display: none;
    }
}

.show-md{
    @media#{$bigger}{
        display: none;
    }

    @media#{$medium-xs}{
        display: none;
    }

    @media#{$smaller}{
        display: none;
    }
}

.show-sm{
    @media#{$bigger}{
        display: none;
    }

    @media#{$medium-lg}{
        display: none;
    }

    @media#{$smaller}{
        display: none;
    }
}

.show-xs{
    @media#{$bigger}{
        display: none;
    }

    @media#{$medium}{
        display: none;
    }
}

.hidden-xs{
    @media#{$smaller}{
        display: none;
    }
}

.button{
    font-family: $general-font;
    font-size: 20px;
    line-height: 47px;
    font-weight: 600;
    padding: 0 58px;
    border-radius: 30px;
    margin-top: 20px;
    display: inline-block;
}

.btn-orange{
    color: $white;
    background-color: $orange;
    border: 2px solid $orange;
}

a.btn-orange:focus,
a.btn-orange:hover{
    color: $orange;
    background-color: $white;
    border: 2px solid $orange;
    transition: .5s;
    text-decoration: none;
}

.btn-white{
    color: $orange;
    background-color: $white;
    border: 2px solid $white;
}

a.btn-white:focus,
a.btn-white:hover{
    color: $white;
    background-color: $orange;
    border: 2px solid $white;
    transition: .5s;
    text-decoration: none;
}

.color-orange{
    color: $orange;
}

.color-black{
    color: $black !important;
}

.color-white{
    color: $white;
}

.color-gray{
    color: $gray-paragraph;
}

.color-orange:hover,
.color-orange:focus{
    color: $yellow;
}

.img-box-shadow{
    box-shadow: 0 2px 14px 0 rgba(94, 94, 94, 0.3);
    border-radius: 10px;
}

.btn-rounded{
    border-radius: 30px;
    border: 1px solid $black;
}

.inverted{
    transform: rotate(180deg);
}

.separator{
    background-image: url(../images/web/separator.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 100% 0;
    min-height: 200px;
}

.right-side{
    padding-top: 100px;

    .content{
        margin-left: auto;
    }
}