@import "variables";

section#hero-home{
    background-image: url(../images/web/hero-sky.png);
    background-repeat: no-repeat;
    background-size: 52%;
    background-position: 113% 0;

    @media#{$bigger-lg}{
        background-size: 800px auto;
        background-position: 105% 0%;
    }

    @media#{$bigger-md}{
        background-size: 730px auto;
        background-position: 112% 0%;
    }

    @media#{$medium-lg}{
        background-size: 650px auto;
        background-position: 115% 0;    
    }

    @media#{$medium-md}{
        background-size: 580px auto;
        background-position: 120% 0;
    }

    @media#{$medium-xs}{
        background-size: 60%;
        background-position: 130% 0;
    }

    @media#{$smaller}{
        background-image: none;
    }

    .hero-content{
        color: white;
        max-width: 440px;
        padding: 130px 0 100px;

        @media#{$bigger-lg}{
            padding: 160px 0 140px;
        }

        @media#{$bigger}{
            padding: 160px 0 105px;
            max-width: 535px;
        }

        @media#{$medium-md}{
            max-width: 400px;
            padding: 120px 0 100px;
        }

        @media#{$medium-xs}{
            max-width: 335px;
            padding: 130px 0 120px;
        }

        @media#{$smaller}{
            max-width: 480px;
            padding: 150px 10px 100px;
            margin: 0 auto;
            text-align: center;

            h2{
                margin-top: 20px;
            }
        }

        img{
            height: 70px;
            margin-bottom: 13px;

            @media#{$bigger}{
                height: 94px;
            }

            @media#{$medium-xs}{
                height: 55px;
            }
        }

        p{
            margin: 20px 0;

            @media#{$bigger}{
                margin: 30px 0;
            }

            @media#{$medium-xs}{
                margin: 15px 0 20px;
            }

            @media#{$smaller}{
                margin: 15px 0 30px;
            }
        }
    }
}

section#logopile{
    padding: 0 0 20px;

    h2{
        @media#{$phone-portrait}{
            max-width: 320px;
            margin: 0 auto 10px;
        }
    }

    .logos{
        max-width: 1100px;
        margin: 0 auto;

        @media#{$bigger}{
            max-width: 1240px;
        }

        div{
            width: 160px;
            margin: 40px 0 10px;
            display: inline-block;

            @media#{$bigger}{
                width: 200px;
            }

            @media#{$smaller}{
                width: 150px;
                margin: 20px 0 10px;
            }

            img {
                max-height: 25px;
                margin: 5px;

                @media#{$bigger}{
                    max-height: 28px;
                }

                @media#{$smaller}{
                    max-height: 20px;
                    margin: 0px;
                }
            }
        }
    }
}

section#product{
    padding: 30px 0;

    @media#{$bigger}{
        padding: 50px 0;
    }

    h3{
        max-width: 740px;
        margin: 0 auto 60px;

        @media#{$smaller}{
            max-width: 500px;
            margin: 0 auto 30px;
        }
    }

    img{
        height: 290px;

        @media#{$bigger}{
            height: 360px;
        }

        @media#{$smaller}{
            margin-top: 40px;
            height: 220px;
        }
    }

    .content{
        max-width: 480px;
        margin-top: 35px;

        @media#{$bigger}{
            max-width: 510px;
            margin-top: 40px;
        }

        @media#{$smaller}{
            max-width: 100%;
            margin-top: 20px;
        }

        p{
            line-height: 1.67em;
        }
    }

    .content.quality{
        @media#{$medium-md}{
            margin-top: 55px !important;
        }
    }
}

div#register{
    max-width: 900px;
    margin: 30px auto;
    padding: 0 10px;

    @media#{$bigger}{
        max-width: 1140px;
        margin: 30px auto 50px;
    }

    @media#{$medium-xs}{
        max-width: 600px;
    }

    @media#{$smaller}{
        max-width: 500px;
        margin-top: 50px;
        padding: 0 15px;
    }

    h3{
        margin-bottom: 50px;
    }

    form{
        width: 480px;
        margin: 0 auto;

        @media#{$bigger}{
            max-width: 750px;

            button{
                line-height: 57px;
                padding: 0 29px 0 25px;
            }

            input{
                font-size: 20px;
                line-height: 57px;
                padding-left: 24px;
            }
        }

        @media#{$medium-lg}{
            button{
                font-size: 18px;
                line-height: 50px;
                padding: 0 29px 0 25px;
            }

            input{
                font-size: 18px;
                line-height: 50px;
                padding-left: 24px;
            }
        }

        @media#{$medium-md}{
            button{
                font-size: 17px;
                line-height: 50px;
                padding: 0 29px 0 25px;
            }

            input{
                font-size: 17px;
                line-height: 50px;
                padding-left: 24px;
            }
        }

        @media#{$phone-portrait}{
            width: 310px;

            input{
                width: 100%;
                border-radius: 0;
                margin-bottom: 16px;
            }

            .input-group-append{
                display: block;
                width: 100%;
            
                button{
                    border-radius: 30px;
                    padding: 0 25px;
                }
            }
        }
    }
}

.distance{
    margin-bottom: 40px;

    @media#{$bigger}{
        margin-bottom: 50px;
    }

    @media#{$smaller}{
        margin-bottom: 0;
    }
}
