@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@font-face {
  font-family: "cocoGothic-bold";
  src: url("../font/cocoGothic-Bold.ttf") format("truetype"); }
@font-face {
  font-family: "cocoGothic-light";
  src: url("../font/cocoGothic-Light.ttf") format("truetype"); }
body {
  position: relative;
  z-index: 0;
  overflow-x: hidden; }
  @media (min-width: 1550px) {
    body .container {
      min-width: 1300px !important; } }
  @media (min-width: 992px) and (max-width: 1099px) {
    body .container {
      padding: 0 40px; } }
  body h1 {
    font-family: "cocoGothic-bold";
    font-size: 64px;
    line-height: 85px;
    letter-spacing: 3.9px;
    margin: 0; }
    @media (min-width: 1300px) {
      body h1 {
        font-size: 75px;
        line-height: 105px; } }
    @media (min-width: 992px) and (max-width: 1099px) {
      body h1 {
        font-size: 55px;
        line-height: 75px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      body h1 {
        font-size: 45px;
        line-height: 60px;
        letter-spacing: 3.2px; } }
    @media (max-width: 767px) {
      body h1 {
        font-size: 50px;
        line-height: 60px;
        letter-spacing: 3.5px; } }
  body h2 {
    font-family: "cocoGothic-light";
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    margin: 0; }
    @media (min-width: 1300px) {
      body h2 {
        font-size: 28px;
        line-height: 37px; } }
    @media (min-width: 992px) and (max-width: 1099px) {
      body h2 {
        font-size: 22px;
        line-height: 30px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      body h2 {
        font-size: 19px;
        line-height: 25px; } }
    @media (max-width: 767px) {
      body h2 {
        font-size: 19px;
        line-height: 25px; } }
    body h2 strong {
      font-family: "cocoGothic-bold"; }
  body h3 {
    font-family: "cocoGothic-light";
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.1px;
    margin: 0; }
    @media (min-width: 1300px) {
      body h3 {
        font-size: 41px;
        line-height: 50px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      body h3 {
        font-size: 30px;
        line-height: 40px; } }
    @media (max-width: 767px) {
      body h3 {
        font-size: 26px;
        line-height: 38px; } }
    body h3 span {
      background-color: #fca62f;
      display: inline-block;
      padding: 0 3px; }
  body h4 {
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.4px;
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 28px; }
    @media (min-width: 1300px) {
      body h4 {
        font-size: 24px;
        line-height: 33px;
        margin-top: 24px; } }
    @media (max-width: 767px) {
      body h4 {
        font-size: 18px;
        line-height: 25px;
        margin-top: 20px; } }
  body p.paragraph {
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.4px;
    font-size: 16px;
    line-height: 20px; }
    @media (min-width: 1300px) {
      body p.paragraph {
        font-size: 18px;
        line-height: 22px; } }
    @media (min-width: 992px) and (max-width: 1099px) {
      body p.paragraph {
        font-size: 15px;
        line-height: 18px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      body p.paragraph {
        font-size: 13px;
        line-height: 16px; } }
    @media (max-width: 767px) {
      body p.paragraph {
        font-size: 14px;
        line-height: 18px; } }
  body a.navbar-brand {
    color: #ffffff;
    font-family: "cocoGothic-bold";
    padding: 0;
    letter-spacing: 1.8px;
    font-size: 25px;
    line-height: 45px; }
    @media (min-width: 1300px) {
      body a.navbar-brand {
        font-size: 29px;
        line-height: 50px; } }
    @media (max-width: 767px) {
      body a.navbar-brand {
        font-size: 22px;
        line-height: 45px; } }
  body a.navbar-brand:hover,
  body a.navbar-brand:focus {
    color: #ffffff; }
  body a.navbar-brand {
    font-family: "cocoGothic-bold"; }

header {
  position: absolute;
  z-index: 1000;
  width: 100%; }

nav.navbar {
  background-color: transparent;
  padding-top: 20px; }
  @media (min-width: 1550px) {
    nav.navbar .container {
      max-width: 1450px !important; } }
  @media (min-width: 1300px) {
    nav.navbar .container {
      max-width: 1300px;
      padding: 0; } }
  @media (max-width: 767px) {
    nav.navbar ul {
      margin: 0 auto; } }
  nav.navbar ul li a {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 1.1px;
    font-weight: 600;
    margin: 0 15px;
    line-height: 45px;
    padding: 0; }
    @media (min-width: 1300px) {
      nav.navbar ul li a {
        font-size: 18px;
        margin: 0 28px;
        line-height: 50px; } }
    @media (max-width: 767px) {
      nav.navbar ul li a {
        font-size: 14px;
        margin: 0 5px;
        padding: 0; } }
  nav.navbar ul li a.nav-link:focus,
  nav.navbar ul li a.nav-link:hover {
    text-decoration: none;
    opacity: 0.75;
    color: #ffffff;
    transition: .5s; }
  nav.navbar ul li a.btn-nav {
    margin-right: 0;
    color: #282828;
    padding: 0 20px !important; }
    @media (min-width: 1300px) {
      nav.navbar ul li a.btn-nav {
        padding: 0 30px !important; } }
  nav.navbar ul li a.btn-nav:focus,
  nav.navbar ul li a.btn-nav:hover {
    background-color: #fca62f;
    opacity: 1;
    border: 1px solid #ffffff; }
  @media (min-width: 0px) and (max-width: 600px) {
    nav.navbar .navbar-toggler span {
      background-color: #ffffff;
      height: 2px;
      margin: 4px;
      display: block; }
    nav.navbar .navbar-toggler:focus {
      outline: none; }
    nav.navbar #navbarText {
      background-color: #ffffff;
      padding: 10px 10px 15px;
      text-align: center; }
      nav.navbar #navbarText a {
        color: #282828;
        margin: 3px 0; } }

footer {
  height: 300px;
  position: relative; }
  @media (min-width: 768px) and (max-width: 991px) {
    footer {
      height: 230px; } }
  @media (max-width: 767px) {
    footer {
      height: 270px; } }
  footer .footer-yellow {
    background-image: url(../images/footer/bg-yellow.png);
    background-size: auto 270px;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    position: absolute;
    z-index: -1; }
    @media (min-width: 1300px) {
      footer .footer-yellow {
        background-size: 100% 280px;
        background-position: 0% 35%; } }
    @media (min-width: 768px) and (max-width: 991px) {
      footer .footer-yellow {
        background-size: auto 200px;
        height: 230px; } }
    @media (max-width: 767px) {
      footer .footer-yellow {
        background-size: auto 240px;
        height: 280px; } }
  footer .footer-orange {
    background-image: url(../images/footer/bg-orange.png);
    background-size: auto 270px;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    position: absolute;
    z-index: 0; }
    @media (min-width: 1300px) {
      footer .footer-orange {
        background-size: 100% 280px;
        background-position: 100% 100%; } }
    @media (min-width: 768px) and (max-width: 991px) {
      footer .footer-orange {
        background-size: auto 200px;
        height: 230px; } }
    @media (max-width: 767px) {
      footer .footer-orange {
        background-position: 20% 100%;
        background-size: auto 240px;
        height: 280px; } }
  footer .container {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }
    @media (min-width: 1300px) {
      footer .container {
        min-width: 1300px; } }
    footer .container .navbar-brand {
      font-size: 36px;
      line-height: 50px;
      margin-bottom: 20px; }
      @media (max-width: 767px) {
        footer .container .navbar-brand {
          font-size: 28px;
          line-height: 40px;
          margin-bottom: 5px; } }
    footer .container ul {
      padding: 0;
      margin: 0 0 15px; }
      footer .container ul li {
        list-style: none;
        display: inline-block; }
        footer .container ul li a {
          color: #ffffff; }
      footer .container ul li.col {
        padding-left: 0;
        padding-right: 0; }
        footer .container ul li.col a {
          padding: 0 5px;
          font-size: 16px;
          letter-spacing: 1.1px; }
          @media (min-width: 1300px) {
            footer .container ul li.col a {
              font-size: 18px; } }
          @media (min-width: 768px) and (max-width: 991px) {
            footer .container ul li.col a {
              font-size: 14px;
              letter-spacing: 0.5px;
              padding: 0 2px; } }
          @media (min-width: 601px) and (max-width: 767px) {
            footer .container ul li.col a {
              font-size: 13px;
              width: 200px;
              text-align: center !important;
              margin: 0 auto; } }
          @media (min-width: 0px) and (max-width: 600px) {
            footer .container ul li.col a {
              font-size: 13px;
              width: 150px;
              text-align: center !important;
              margin: 0 auto; } }
      footer .container ul li.col-large {
        min-width: 210px; }
        @media (min-width: 768px) and (max-width: 991px) {
          footer .container ul li.col-large {
            min-width: 146px; } }
        @media (max-width: 767px) {
          footer .container ul li.col-large {
            min-width: auto; } }
    footer .container a.icons {
      display: inline-block;
      margin-top: 13px;
      vertical-align: middle; }
      @media (max-width: 767px) {
        footer .container a.icons {
          margin-top: 4px; } }
      footer .container a.icons img {
        max-height: 24px;
        margin-left: 15px; }
        @media (max-width: 767px) {
          footer .container a.icons img {
            max-height: 18px;
            margin-left: 8px;
            margin-top: 0; } }
        @media (min-width: 0px) and (max-width: 600px) {
          footer .container a.icons img {
            margin: 8px !important; } }
  @media (min-width: 0px) and (max-width: 600px) {
    footer .row div {
      max-width: 100%;
      min-width: 310px;
      text-align: center !important;
      margin: 0 auto; }
      footer .row div a {
        margin: 0 !important; } }

form .input-group input {
  background-color: #ececec;
  color: #767676;
  font-family: "Open Sans", sans-serif;
  border: none;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  padding: 0 18px;
  font-size: 13px;
  line-height: 40px; }
  @media (min-width: 1300px) {
    form .input-group input {
      font-size: 14px;
      line-height: 47px; } }
  @media (min-width: 768px) and (max-width: 1299px) {
    form .input-group input {
      font-size: 12px;
      line-height: 35px; } }
form .input-group input:hover,
form .input-group input:focus {
  outline: none; }
form .input-group .input-group-append {
  margin-left: 2px; }
  form .input-group .input-group-append button {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    background-color: #fca62f;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border-left: 2px solid #ffffff;
    font-size: 16px;
    line-height: 42px;
    padding: 0 15px; }
    @media (min-width: 1300px) {
      form .input-group .input-group-append button {
        font-size: 20px;
        line-height: 47px;
        padding: 0 20px; } }
    @media (min-width: 768px) and (max-width: 1299px) {
      form .input-group .input-group-append button {
        font-size: 14px;
        line-height: 35px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      form .input-group .input-group-append button {
        font-size: 14px;
        line-height: 30px; } }

@media (min-width: 768px) and (max-width: 1299px) {
  .show-lg {
    display: none; } }
@media (max-width: 767px) {
  .show-lg {
    display: none; } }

@media (min-width: 1300px) {
  .show-md {
    display: none; } }
@media (min-width: 768px) and (max-width: 991px) {
  .show-md {
    display: none; } }
@media (max-width: 767px) {
  .show-md {
    display: none; } }

@media (min-width: 1300px) {
  .show-sm {
    display: none; } }
@media (min-width: 1100px) and (max-width: 1299px) {
  .show-sm {
    display: none; } }
@media (max-width: 767px) {
  .show-sm {
    display: none; } }

@media (min-width: 1300px) {
  .show-xs {
    display: none; } }
@media (min-width: 768px) and (max-width: 1299px) {
  .show-xs {
    display: none; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none; } }

.button {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 600;
  padding: 0 40px;
  border-radius: 30px;
  margin-top: 15px;
  display: inline-block; }
  @media (min-width: 1300px) {
    .button {
      font-size: 20px;
      line-height: 47px;
      padding: 0 58px;
      margin-top: 20px; } }

.btn-orange {
  color: #ffffff;
  background-color: #fca62f;
  border: 2px solid #fca62f; }

a.btn-orange:focus,
a.btn-orange:hover {
  color: #fca62f;
  background-color: #ffffff;
  border: 2px solid #fca62f;
  transition: .5s;
  text-decoration: none; }

.btn-white {
  color: #fca62f;
  background-color: #ffffff;
  border: 2px solid #ffffff; }

a.btn-white:focus,
a.btn-white:hover {
  color: #ffffff;
  background-color: #fca62f;
  border: 2px solid #ffffff;
  transition: .5s;
  text-decoration: none; }

.color-orange {
  color: #fca62f; }

.color-black {
  color: #282828 !important; }

.color-white {
  color: #ffffff; }

.color-gray {
  color: #4b4b4b; }

.color-orange:hover,
.color-orange:focus {
  color: #fdba2e; }

.img-box-shadow {
  box-shadow: 0 2px 14px 0 rgba(94, 94, 94, 0.3);
  border-radius: 10px; }

.btn-rounded {
  border-radius: 30px;
  border: 1px solid #282828; }

.inverted {
  transform: rotate(180deg); }

.separator {
  background-image: url(../images/web/separator.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 100% 0;
  min-height: 200px; }
  @media (min-width: 1300px) {
    .separator {
      background-size: 100% 250px;
      min-height: 250px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .separator {
      min-height: 140px; } }
  @media (max-width: 767px) {
    .separator {
      min-height: 140px; } }
  @media (min-width: 0px) and (max-width: 600px) {
    .separator {
      min-height: 100px; } }

.right-side {
  padding-top: 70px;
  margin-bottom: 20px; }
  @media (min-width: 1300px) {
    .right-side {
      padding-top: 100px; } }
  @media (max-width: 767px) {
    .right-side img {
      margin-top: 50px !important; } }
  .right-side .content {
    margin-left: auto;
    margin-top: 15px !important; }
    @media (max-width: 767px) {
      .right-side .content {
        margin-left: 0;
        margin-top: 0 !important; } }

section#hero-home {
  background-image: url(../images/web/hero-sky.png);
  background-repeat: no-repeat;
  background-size: 52%;
  background-position: 113% 0; }
  @media (min-width: 1550px) {
    section#hero-home {
      background-size: 800px auto;
      background-position: 105% 0%; } }
  @media (min-width: 1300px) and (max-width: 1549px) {
    section#hero-home {
      background-size: 730px auto;
      background-position: 112% 0%; } }
  @media (min-width: 1100px) and (max-width: 1299px) {
    section#hero-home {
      background-size: 650px auto;
      background-position: 115% 0; } }
  @media (min-width: 992px) and (max-width: 1099px) {
    section#hero-home {
      background-size: 580px auto;
      background-position: 120% 0; } }
  @media (min-width: 768px) and (max-width: 991px) {
    section#hero-home {
      background-size: 60%;
      background-position: 130% 0; } }
  @media (max-width: 767px) {
    section#hero-home {
      background-image: none; } }
  section#hero-home .hero-content {
    color: white;
    max-width: 440px;
    padding: 130px 0 100px; }
    @media (min-width: 1550px) {
      section#hero-home .hero-content {
        padding: 160px 0 140px; } }
    @media (min-width: 1300px) {
      section#hero-home .hero-content {
        padding: 160px 0 105px;
        max-width: 535px; } }
    @media (min-width: 992px) and (max-width: 1099px) {
      section#hero-home .hero-content {
        max-width: 400px;
        padding: 120px 0 100px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      section#hero-home .hero-content {
        max-width: 335px;
        padding: 130px 0 120px; } }
    @media (max-width: 767px) {
      section#hero-home .hero-content {
        max-width: 480px;
        padding: 150px 10px 100px;
        margin: 0 auto;
        text-align: center; }
        section#hero-home .hero-content h2 {
          margin-top: 20px; } }
    section#hero-home .hero-content img {
      height: 70px;
      margin-bottom: 13px; }
      @media (min-width: 1300px) {
        section#hero-home .hero-content img {
          height: 94px; } }
      @media (min-width: 768px) and (max-width: 991px) {
        section#hero-home .hero-content img {
          height: 55px; } }
    section#hero-home .hero-content p {
      margin: 20px 0; }
      @media (min-width: 1300px) {
        section#hero-home .hero-content p {
          margin: 30px 0; } }
      @media (min-width: 768px) and (max-width: 991px) {
        section#hero-home .hero-content p {
          margin: 15px 0 20px; } }
      @media (max-width: 767px) {
        section#hero-home .hero-content p {
          margin: 15px 0 30px; } }

section#logopile {
  padding: 0 0 20px; }
  @media (min-width: 0px) and (max-width: 600px) {
    section#logopile h2 {
      max-width: 320px;
      margin: 0 auto 10px; } }
  section#logopile .logos {
    max-width: 1100px;
    margin: 0 auto; }
    @media (min-width: 1300px) {
      section#logopile .logos {
        max-width: 1240px; } }
    section#logopile .logos div {
      width: 160px;
      margin: 40px 0 10px;
      display: inline-block; }
      @media (min-width: 1300px) {
        section#logopile .logos div {
          width: 200px; } }
      @media (max-width: 767px) {
        section#logopile .logos div {
          width: 150px;
          margin: 20px 0 10px; } }
      section#logopile .logos div img {
        max-height: 25px;
        margin: 5px; }
        @media (min-width: 1300px) {
          section#logopile .logos div img {
            max-height: 28px; } }
        @media (max-width: 767px) {
          section#logopile .logos div img {
            max-height: 20px;
            margin: 0px; } }

section#product {
  padding: 30px 0; }
  @media (min-width: 1300px) {
    section#product {
      padding: 50px 0; } }
  section#product h3 {
    max-width: 740px;
    margin: 0 auto 60px; }
    @media (max-width: 767px) {
      section#product h3 {
        max-width: 500px;
        margin: 0 auto 30px; } }
  section#product img {
    height: 290px; }
    @media (min-width: 1300px) {
      section#product img {
        height: 360px; } }
    @media (max-width: 767px) {
      section#product img {
        margin-top: 40px;
        height: 220px; } }
  section#product .content {
    max-width: 480px;
    margin-top: 35px; }
    @media (min-width: 1300px) {
      section#product .content {
        max-width: 510px;
        margin-top: 40px; } }
    @media (max-width: 767px) {
      section#product .content {
        max-width: 100%;
        margin-top: 20px; } }
    section#product .content p {
      line-height: 1.67em; }
  @media (min-width: 992px) and (max-width: 1099px) {
    section#product .content.quality {
      margin-top: 55px !important; } }

div#register {
  max-width: 900px;
  margin: 30px auto;
  padding: 0 10px; }
  @media (min-width: 1300px) {
    div#register {
      max-width: 1140px;
      margin: 30px auto 50px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    div#register {
      max-width: 600px; } }
  @media (max-width: 767px) {
    div#register {
      max-width: 500px;
      margin-top: 50px;
      padding: 0 15px; } }
  div#register h3 {
    margin-bottom: 50px; }
  div#register form {
    width: 480px;
    margin: 0 auto; }
    @media (min-width: 1300px) {
      div#register form {
        max-width: 750px; }
        div#register form button {
          line-height: 57px;
          padding: 0 29px 0 25px; }
        div#register form input {
          font-size: 20px;
          line-height: 57px;
          padding-left: 24px; } }
    @media (min-width: 1100px) and (max-width: 1299px) {
      div#register form button {
        font-size: 18px;
        line-height: 50px;
        padding: 0 29px 0 25px; }
      div#register form input {
        font-size: 18px;
        line-height: 50px;
        padding-left: 24px; } }
    @media (min-width: 992px) and (max-width: 1099px) {
      div#register form button {
        font-size: 17px;
        line-height: 50px;
        padding: 0 29px 0 25px; }
      div#register form input {
        font-size: 17px;
        line-height: 50px;
        padding-left: 24px; } }
    @media (min-width: 0px) and (max-width: 600px) {
      div#register form {
        width: 310px; }
        div#register form input {
          width: 100%;
          border-radius: 0;
          margin-bottom: 16px; }
        div#register form .input-group-append {
          display: block;
          width: 100%; }
          div#register form .input-group-append button {
            border-radius: 30px;
            padding: 0 25px; } }

.distance {
  margin-bottom: 40px; }
  @media (min-width: 1300px) {
    .distance {
      margin-bottom: 50px; } }
  @media (max-width: 767px) {
    .distance {
      margin-bottom: 0; } }

/*# sourceMappingURL=style.css.map */
